#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: calc(20vh - 8vh);
    background: url('assets/logo.webp') no-repeat center center/cover;
    background-color: var(--background);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

#about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Ajuste a opacidade aqui */
    pointer-events: none;
    z-index: 1;
}

.text-content-about {
    position: relative;
    z-index: 2;
    color: var(--black);
    width: 100%;
}

.text-content-about h1{
    padding-bottom: 30px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.image-content {
    display: none; 
}

@media (min-width: 1440px) {
    #about {
        flex-direction: row;
        background: none; 
        padding: 0;
        background-color: var(--background);
    }

    #about::before {
        background-color: transparent;
    }

    .text-content-about {
        width: 60%; 
        padding-left: 150px;
    }

    .image-content {
        display: block; 
        width: 40%;
    }

    .image-content img {
        transform: scaleX(-1);
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .8;
    }
}
