footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 8vh;
    background: var(--light-grey); /* Ajuste conforme necessário */
    color: var(--blue);
    font-weight: bold;
}